@model RailwaySystem.Models.StationArr

@{
    ViewData["Title"] = "Create";
}

<h3 class="alert-success">Add new StationArr</h3>
<br />
<a href="@Url.Action("ListStationArr", "StationArr")">
    <span class="btn btn-outline-primary">Back</span>
</a>
<hr />
<h5 style="color:red">@ViewBag.msg</h5>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StationCode" class="control-label"></label>
                <input asp-for="StationCode" class="form-control" />
                <span asp-validation-for="StationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationName" class="control-label"></label>
                <input asp-for="StationName" class="form-control" />
                <span asp-validation-for="StationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
