@model RailwaySystem.Models.LoginDetails

@{
    ViewData["Title"] = "ChangePassword";
}
<link rel="stylesheet" href="~/css/fontAwesome.css">
<h3 class="alert-success">Change the password</h3>
<br>

<hr />
<h4 style="color:midnightblue">@ViewBag.name</h4>
<h5 style="color:red">@ViewBag.msg</h5>
<hr />
<div class="container">

    <div class="col-lg-6 ">
        <form asp-action="ChangePassword" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        <i class="fa fa-user text-muted"></i>
                    </span>
                </div>
                <input placeholder="Username" asp-for="Username" class="form-control bg-white border-left-0 border-md" readonly />
                
            </div>

            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        <i class="fa fa-lock text-muted"></i>
                    </span>
                </div>
                <input name="oldPass" type="password" placeholder="Old Password" class="form-control bg-white border-left-0 border-md" />

            </div>
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        <i class="fa fa-lock text-muted"></i>
                    </span>
                </div>
                <input name="newPass" type="password" placeholder="New Password" class="form-control bg-white border-left-0 border-md" />

            </div>
            <div class="input-group col-lg-6 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white px-4 border-md border-right-0">
                        <i class="fa fa-lock text-muted"></i>
                    </span>
                </div>
                <input name="confirmPass" type="password" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">

            </div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="Role" />
            <input type="hidden" asp-for="DateOfBirth" />
            <input type="hidden" asp-for="Gender" />
            <input type="hidden" asp-for="PhoneNo" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Name" />
            <div class="input-group col-lg-6 mb-4">


                <input type="submit" value="Save" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to change pasword?')" />
                &nbsp;&nbsp;&nbsp;;
                <a href="@Url.Action("Index", "Home")">
                    <span class="btn btn-outline-primary">Back</span>
                </a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
