@model RailwaySystem.Models.LoginDetails

@{
    ViewData["Title"] = "Edit";
}

<h3 class="alert-success">Change the password</h3>
<hr />
<h4 style="color:blueviolet">@ViewBag.name</h4>
<h5 style="color:red">@ViewBag.msg</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Username" />
            <div class="form-group">
                <label class="control-label">New password</label>
                @if (ViewBag.noreset == "NO")
                {
                    <input name="newPass" type="password" class="form-control" readonly />
                }
                else
                {
                    <input name="newPass" type="password" class="form-control" />
                }
            </div>
            <div class="form-group">
                <label class="control-label">Confirm password</label>
                @if (ViewBag.noreset == "NO")
                {
                    <input name="confirmPass" type="password" class="form-control" readonly/>
                }
                else
                {
                    <input name="confirmPass" type="password" class="form-control" />
                }
            </div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="Role" />
            <input type="hidden" asp-for="DateOfBirth" />
            <input type="hidden" asp-for="Gender" />
            <input type="hidden" asp-for="PhoneNo" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Home")">
        <span class="btn btn-primary btn-outline-primary">Home</span>
    </a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
