@model RailwaySystem.Models.LoginDetails

@{
    ViewData["Title"] = "Registration";
}
<link rel="stylesheet" href="~/css/fontAwesome.css">


<h3 class="alert-success">Register an account</h3>
<br />
<a href="@Url.Action("Index", "Home")">
    <span class="btn btn-success">Home</span>
</a>
<hr />
<h5 style="color:red">@ViewBag.msg</h5>
<!--form mới-->
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Create an Account</h1>
            
            <p class="font-italic text-muted">
                Snippet By <a href="https://bootstrapious.com" class="text-muted">
                    <u>Bootstrapious</u>
                </a>
            </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form asp-action="Registration" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">

                    <!--Username -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input placeholder="Username" asp-for="Username" class="form-control bg-white border-left-0 border-md" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <!--Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>

                        <input placeholder="Your Name" asp-for="Name" class="form-control bg-white border-left-0 border-md" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>

                        <input placeholder="Email Address" asp-for="Email" class="form-control bg-white border-left-0 border-md" />

                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <input placeholder="Phone Number" asp-for="PhoneNo" class="form-control bg-white border-md border-left-0 pl-3" />

                    </div>
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>

                    <!-- DateOfBirth -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-birthday-cake text-muted"></i>
                            </span>

                        </div>


                        <input placeholder="Date of Birth" asp-for="DateOfBirth" class="form-control bg-white border-left-0 border-md" />

                    </div>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    <!-- Gender -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-black-tie text-muted"></i>
                            </span>
                        </div>
                        <select asp-for="Gender" class="form-control custom-select bg-white border-left-0 border-md">
                            <option value=false>Choose your Gender</option>
                            <option value=true>Male</option>
                            <option value=false>Female</option>
                        </select>
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input name="newPass" type="password" placeholder="Password" class="form-control bg-white border-left-0 border-md" />

                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input name="confirmPass" type="password" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">

                    </div>
                    <input type="hidden" asp-for="Password" />
                    <input type="hidden" asp-for="Role" />
                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        @*<a href="#" class="btn btn-primary btn-block py-2">
                <span class="font-weight-bold">Create your account</span>
            </a>*@
                        <input type="submit" value="Create your account" class="btn btn-primary btn-block py-2 font-weight-bold" />
                    </div>

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a href="@Url.Action("Login", "LoginDetails")" class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
